<div class="footer-main">
  <div class="foot-inside">
    <div class="foot">
      <p>Connect With Us -</p>
      <p>
        <a href="https://github.com/amitpatel05" target="_main"
          ><i class="fa-brands fa-square-github"></i>Github</a
        >
      </p>
      <p>
        <a href="www.linkedin.com/in/amitpatel05" target="_main"
          ><i class="fa-brands fa-square-linkedin"></i>Linkedin</a
        >
      </p>
      <p>
        <a
          href="https://www.instagram.com/itzs__satyam?igsh=MW1iemd1ZmNzNGdqbA=="
          target="_main"
          ><i class="fa-brands fa-square-instagram"></i>Instagram</a
        >
      </p>

      <p>
        <a href="https://www.facebook.com/login.php" target="_main"
          ><i class="fa-brands fa-square-facebook"></i>Facebook</a
        >
      </p>
    </div>

    <div class="foot">
      <p>
        Map Address -
        <br /><br />VRF9+RC6 Baheria Gadgad<br />
        Madhya Pradesh <br />
        PIN Code - 470021
      </p>
      <p>
        &#x2762;&nbsp;&nbsp;<button
          class="foot-btn"
          onclick="location.href='/location'"
        >
          See Location
        </button>
      </p>
    </div>

    <div class="foot">
      <p>
        &#x2022;&nbsp;&nbsp;<button
          class="foot-btn"
          onclick="location.href='/about'"
        >
          About Us
        </button>
      </p>
      <p>
        &#x2022;&nbsp;&nbsp;<button
          class="foot-btn"
          onclick="location.href='/helpCenter'"
        >
          Help Center
        </button>
      </p>
      <p>
        &#x2022;&nbsp;&nbsp;<button
          class="foot-btn"
          onclick="location.href='/feedback'"
        >
          Feedback
        </button>
      </p>
      <p>
        &#x2022;&nbsp;&nbsp;<button
          class="foot-btn"
          onclick="location.href='/privacy&terms'"
        >
          Privacy Terms
        </button>
      </p>
    </div>
  </div>
  <hr class="mb-2" />
  <p class="info-footer-note info-p">
    © Indira Gandhi Govt. Engineering College and Hostel Administration – All
    Rights Reserved.
  </p>
</div>
