<div class="footer-main">
  <div class="foot"><p>About Us</p></div>
  <div class="foot">
    <p>Connect With Us</p>
    <div class="foot-links">
      <p>
        <a href="https://github.com/amitpatel05" target="_main"
          ><i class="fa-brands fa-square-github"></i>&nbsp;&nbsp;Github</a
        >
      </p>
      <p>
        <a href="www.linkedin.com/in/amitpatel05" target="_main"
          ><i class="fa-brands fa-square-linkedin"></i>&nbsp;&nbsp;Linkedin</a
        >
      </p>
      <p>
        <a
          href="https://www.instagram.com/itzs__satyam?igsh=MW1iemd1ZmNzNGdqbA=="
          target="_main"
          ><i class="fa-brands fa-square-instagram"></i>&nbsp;&nbsp;Instagram</a
        >
      </p>

      <p>
        <a href="https://www.facebook.com/login.php" target="_main"
          ><i class="fa-brands fa-square-facebook"></i>&nbsp;&nbsp;Facebook</a
        >
      </p>
    </div>
  </div>
  <div class="foot">
    <p><a href="#">Gallery</a></p>
    <p><a href="#">Feedback</a></p>
  </div>
  <div class="foot">
    <p><a href="#">&copy;Copyright</a></p>
    <p><a href="/privacy">Privacy</a></p>
    <p><a href="/terms">Terms</a></p>
  </div>
</div>
