<div class="footer-main">
  <div class="foot-inside">
    <div class="foot">
      <p>Connect With Us -</p>
      <p>
        <a href="https://github.com/amitpatel05" target="_main"
          ><i class="fa-brands fa-square-github"></i>&nbsp;&nbsp;Github</a
        >
      </p>
      <p>
        <a href="www.linkedin.com/in/amitpatel05" target="_main"
          ><i class="fa-brands fa-square-linkedin"></i>&nbsp;&nbsp;Linkedin</a
        >
      </p>
      <p>
        <a
          href="https://www.instagram.com/itzs__satyam?igsh=MW1iemd1ZmNzNGdqbA=="
          target="_main"
          ><i class="fa-brands fa-square-instagram"></i>&nbsp;&nbsp;Instagram</a
        >
      </p>

      <p>
        <a href="https://www.facebook.com/login.php" target="_main"
          ><i class="fa-brands fa-square-facebook"></i>&nbsp;&nbsp;Facebook</a
        >
      </p>
    </div>
    <div class="foot">
      <p>
        <button class="foot-btn" onclick="location.href='/about'">
          &nbsp;About Us
        </button>
      </p>
      <p>
        <button class="foot-btn" onclick="location.href='/feedback'">
          &nbsp;Feedback
        </button>
      </p>
    </div>
  </div>
  <hr class="mb-1" />
  <button class="foot-btn" onclick="location.href='/privacy&terms'">
    &copy;&nbsp;Copyright Privacy Terms
  </button>
</div>
