<nav
  class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top nav display-flex"
>
  <div class="nav-up">
    <a href="#"><img class="ms-4 logo" src="/assets/logo.png" alt="logo" /></a>
    <div class="hostel-name">
      <p class="name">
        <b>Bharatratana Mokshgundam Vishveswaraiya Boys Hostel, Sagar</b>
      </p>
      <p class="location">
        Jabalpur Road, Makronia Station, Sagar, Madhya Pradesh- 470021
      </p>
      <p class="approved">
        <b>(Declared By The Government of Madhya Pradesh)</b>
      </p>
    </div>
  </div>

  <div class="nav-down nav-options">
    <button>Home</button>
    <button>Gallery</button>
    <button>Events</button>
    <button>Facilities</button>
    <button>Alumini</button>
    <select name="info" id="info">
      <option>Information</option>
      <option value="fees">Fees Structure</option>
      <option value="committee">Committee</option>
      <option value="rules">Rules & Regulations</option>
    </select>
    <select class="nav-select" name="account" id="account">
      <option>Account</option>
      <option value="signup"><a href="/signup">Signup</a></option>
      <option value="login">Login</option>
      <option value="mngaccount">Manage Account</option>
      <option value="logout">Logout</option>
    </select>
  </div>
</nav>
