<nav
  class="navbar navbar-expand-lg border-bottom sticky-top nav display-flex p-0"
>
  <div class="nav-up">
    <a onclick="location.href='/home'"
      ><img class="ms-4 logo" src="/assets/logo.png" alt="logo"
    /></a>
    <div class="hostel-name">
      <p class="name">
        <b>Bharatratna Mokshagundam Visvesvaraya Boys Hostel, Sagar</b>
      </p>
      <p class="location">
        Jabalpur Road, Makronia Station, Sagar, Madhya Pradesh- 470021
      </p>
      <p class="approved">
        <b>(Declared By The Government of Madhya Pradesh)</b>
      </p>
    </div>
  </div>

  <div class="nav-down nav-options">
    <button onclick="location.href='/home'">Home</button>
    <button onclick="location.href='/admission'">Admission</button>
    <button onclick="location.href='/facilities'">Facilities</button>
    <button onclick="location.href='/alumini'">Alumini</button>
    <select
      name="eventGallery"
      id="eventGallery"
      onchange="window.location.href=this.value"
    >
      <option>Events Gallery</option>
      <option value="festivalsGallery">
        <a href="/festivalsGallery">Festivals</a>
      </option>
      <option value="sportsGallery"><a href="/sportsGallery">Sports</a></option>
    </select>
    <select name="info" id="info" onchange="window.location.href=this.value">
      <option>Information</option>
      <option value="fees"><a href="/fees">Fees Structure</a></option>
      <option value="committee"><a href="/committee">Mess Committee</a></option>
      <option value="rules"><a href="/rules">Rules & Regulations</a></option>
      <option value="home"><a href="/home">Notices</a></option>
    </select>
    <select
      class="nav-select"
      name="account"
      id="account"
      onchange="window.location.href=this.value"
    >
      <option>Account</option>
      <option value="signup"><a href="/signup">Signup</a></option>
      <option value="login"><a href="/login">Login</a></option>
      <option value="account"><a href="/account">Manage Account</a></option>
      <option value="home"><a href="/home">Logout</a></option>
    </select>
  </div>
</nav>
