/* Hide ScrollBar */
* {
  padding: 0;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
*::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  min-height: 100vh;
}

textarea {
  resize: none !important;
}

.container {
  flex: 1;
}

/* NAVBAR */
.nav {
  width: 100%;
  flex-direction: column !important;
  background-color: aliceblue;
}

.logo {
  height: 4rem;
}

.hostel-name {
  margin-top: 0.4rem;
}

.name {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 6px !important;
}

.location,
.approved {
  font-size: 0.85rem;
  line-height: 1.4;
  margin-bottom: 4px !important;
}

.nav-up {
  width: 100% !important;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.nav-options {
  display: flex;
  flex-direction: column;
  height: auto;
  box-shadow: none;
}

.nav-options button {
  width: 100%;
  height: 3rem;
  border-right: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  background-color: aliceblue !important;
  font-size: 1.1rem !important;
}

.nav-options button,
.nav-options button a,
.nav-options button .nav-link {
  color: rgba(0, 0, 0, 0.8) !important;
  transition: all 0.2s ease-in-out !important;
  text-decoration: none;
}

.nav-options button:not(.dropdown):hover {
  background-color: #cddff0 !important;
  color: rgba(0, 0, 0, 1) !important;
}

.nav-options button.dropdown:hover {
  background-color: #cddff0 !important;
  color: rgba(0, 0, 0, 1) !important;
}

.nav-options button .text-danger {
  color: rgb(220, 53, 69, 0.8) !important;
}

.nav-options button .text-danger:hover {
  color: rgb(220, 53, 69, 1) !important;
}

.nav-options button.dropdown:hover,
.nav-options button.dropdown:hover a.dropdown-toggle,
.nav-options button.dropdown a.dropdown-toggle:hover {
  color: rgba(0, 0, 0, 1) !important;
  background-color: #cddff0 !important;
}

.nav-options button a.dropdown-toggle {
  color: rgba(0, 0, 0, 0.75) !important;
}

.drop-link {
  font-size: 1.1rem !important;
}

.drop-link:hover {
  border-radius: 0.35rem !important;
}

.dropdown-menu {
  background-color: aliceblue !important;
  border: 1px solid rgb(0, 0, 0, 0.1) !important;
}

.dropdown-item {
  background-color: aliceblue !important;
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 1.1rem !important;
}

.dropdown-item:hover {
  background-color: #cddff0 !important;
  color: rgba(0, 0, 0, 1) !important;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  background-color: #cddff0 !important;
  color: rgba(0, 0, 0, 1) !important;
}

/* FOOTER */
.footer-main {
  height: auto;
  color: rgb(0, 0, 0, 0.75);
  padding: 2rem 1rem 1rem 1rem;
  background-color: aliceblue;
  border-top: 1px solid rgb(0, 0, 0, 0.2);
}

.foot-inside {
  gap: 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
}

.footer-main a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.75);
}

.footer-main a:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0, 1);
}

.foot-btn {
  border: none;
  cursor: pointer;
  color: rgb(0, 0, 0, 0.75);
  background-color: transparent !important;
}

.foot-btn:hover {
  text-decoration: underline;
  background-color: transparent !important;
  color: rgb(0, 0, 0, 1);
}

/* Main Page Animation */
.main-page-image {
  width: 100%;
  height: 79.75vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: bgChange linear 15s infinite normal;
}

@keyframes bgChange {
  0% {
    background-image: url("/assets/hostel-img-1.jpg");
  }
  16.6% {
    background-image: url("/assets/hostel-img-2.jpg");
  }
  33.4% {
    background-image: url("/assets/hostel-img-3.jpg");
  }
  50.1% {
    background-image: url("/assets/hostel-img-4.jpg");
  }
  66.8% {
    background-image: url("/assets/hostel-img-5.jpg");
  }
  83.4% {
    background-image: url("/assets/hostel-img-6.jpg");
  }
  100% {
    background-image: url("/assets/hostel-img-1.jpg");
  }
}

/* CARDS */
.card {
  width: 90% !important;
  margin: 1rem auto !important;
  opacity: 0.93;
}

.card-header {
  text-align: center;
  background-color: #aacdf3 !important;
}

/* DESKTOP MEDIA QUERIES */
@media (min-width: 992px) {
  .logo {
    height: 6rem;
  }

  .name {
    font-size: 1.8rem;
    line-height: 1.3;
    margin-bottom: 8px !important;
  }

  .location,
  .approved {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 4px !important;
  }

  .nav-options {
    flex-direction: row;
    height: 2.5rem;
    box-shadow: 1px 0 2px 0 rgb(0, 0, 0, 0.2);
  }

  .nav-options button {
    border-bottom: none;
    border-right: 1px solid rgb(0, 0, 0, 0.2);
  }

  .foot-inside {
    flex-direction: row;
    gap: 10rem;
    align-items: flex-start;
    text-align: left;
  }

  .card {
    width: 40% !important;
  }
}
