<div class="info-body">
  <h1 class="info-head">BMV Boys Hostel - A Family !!</h1>
  <section class="info-box">
    <h2>Who We Are</h2>
    <p>
      Welcome to our BMV Boys Hostel, a place where comfort meets community. We
      provide a safe, friendly, and well-maintained environment for all college
      students. Our goal is to make your stay enriching, supportive, and
      memorable through facilities that promote learning, collaboration, and
      personal growth.
    </p>
  </section>

  <section class="info-box">
    <h2>Our Vision</h2>
    <p>
      We aim to create a vibrant living space where students can feel at home,
      participate in meaningful activities, and build lifelong friendships. Our
      hostel encourages both academic excellence and a balanced lifestyle.
    </p>
  </section>

  <section class="info-box">
    <h2>Sports & Activities</h2>
    <p>
      Physical fitness and teamwork are a key part of hostel life. We host
      several sports events throughout the year to keep our students active and
      engaged.
    </p>

    <div class="about-events-container">
      <div class="about-event-card">
        <h3>Cricket Tournament</h3>
        <p>
          Annual inter-hostel cricket match where teams compete in a friendly
          yet competitive environment.
        </p>
      </div>

      <div class="about-event-card">
        <h3>Volleyboll Tournament</h3>
        <p>
          A fun and energetic Volleyboll championship open for all BMV Boys
          Hostellers.
        </p>
      </div>

      <div class="about-event-card">
        <h3>Interaction Weekend</h3>
        <p>
          Informal students meetups every weekend to help students relax and
          stay fit , where we can also raise topics on any hostel issues like
          mess food issue or ragging issues .
        </p>
      </div>
    </div>
  </section>

  <section class="info-box">
    <h2>Festival Celebrations</h2>
    <p>
      Our hostel celebrates cultural diversity with lively and colorful festival
      events where everyone participates with joy irrespective of their caste
      and religion.
    </p>
  </section>
  <section class="info-box">
    <div>
      <h2>Good Mess Food</h2>
      <p>
        Our hostel mess serves fresh, hygienic, and delicious meals every day.
        We prioritize quality ingredients, balanced nutrition, and a homely
        taste to keep students energized and healthy.
      </p>

      <ul>
        <li>Freshly cooked meals</li>
        <li>Balanced vegetarian food options</li>
        <li>Clean and hygienic environment</li>
        <li>Weekly special dishes</li>
      </ul>
    </div>
  </section>
</div>
