<div class="info-body">
  <h1 class="info-head mt-1 mb-1">Alumni of BMV Boys Hostel</h1>

  <div class="info-container">
    <div class="info-box2 alumni-box">
      <img src="/assets/alumni-1.jpeg" alt="Alumni Photo" />
      <div class="alumni-info">
        <h2 class="info-h2 border-0 p-0">Amit Patel</h2>
        <p><strong>Batch:</strong> 2023–2027</p>
        <p><strong>Branch:</strong> Information Technology Engineering</p>
        <p><strong>Currently:</strong>In 3rd Year Of College</p>
        <p>
          This alumni contributed actively in technical events and hostel
          activities, well known as the Owner of the Server Room.
        </p>
      </div>
    </div>

    <div class="info-box2 alumni-box info-box2-reverse">
      <img src="/assets/alumni-2.jpeg" alt="Alumni Photo" />
      <div class="alumni-info">
        <h2 class="info-h2 border-0 p-0">Mayank Chaudhary</h2>
        <p><strong>Batch:</strong> 2023–2027</p>
        <p><strong>Branch:</strong>Information Technology Engineering</p>
        <p><strong>Currently:</strong>In 3rd Year Of College</p>
        <p class="mb-0">
          This alumni was known for strong mind, intelligence and the Topper of
          IGEC College.
        </p>
      </div>
    </div>

    <div class="info-box2 alumni-box">
      <img src="/assets/alumni-3.jpeg" alt="Alumni Photo" />
      <div class="alumni-info">
        <h2 class="info-h2 border-0 p-0">Satyam Singh Baghel</h2>
        <p><strong>Batch:</strong> 2023–2027</p>
        <p><strong>Branch:</strong> Information Technology Engineering</p>
        <p><strong>Currently:</strong>In 3rd Year Of College</p>
        <p>
          This alumni contributed actively in technical events and hostel
          activities.
        </p>
      </div>
    </div>

    <div class="info-box2 alumni-box info-box2-reverse">
      <img src="/assets/alumni-4.jpeg" alt="Alumni Photo" />
      <div class="alumni-info">
        <h2 class="info-h2 border-0 p-0">Arjun Dhakad</h2>
        <p><strong>Batch:</strong> 2023–2027</p>
        <p><strong>Branch:</strong>Information Technology Engineering</p>
        <p><strong>Currently:</strong>In 3rd Year Of College</p>
        <p>
          This alumni was known for excellent cooking and hidden talent of
          secretly Studying.
        </p>
      </div>
    </div>

    <div class="info-box2 alumni-box">
      <img src="/assets/alumni-5.jpeg" alt="Alumni Photo" />
      <div class="alumni-info">
        <h2 class="info-h2 border-0 p-0">Vishal Yadav</h2>
        <p><strong>Batch:</strong> 2023–2027</p>
        <p><strong>Branch:</strong> Information Technology Engineering</p>
        <p><strong>Currently:</strong>In 3rd Year Of College</p>
        <p>This alumni is well known in Coding, Hard Work and Hustelers.</p>
      </div>
    </div>
  </div>
</div>
