<div class="info-body">
  <h1 class="info-head">Boys Hostel Committee Info</h1>

  <section class="info-container">
    <div class="info-box2">
      <h2>Chief Warden</h2>
      <p><strong>Name:</strong> Prof. R.S.S. Rawat Sir</p>
      <p><strong>Contact:</strong> 9826077852</p>
    </div>

    <div class="info-box2">
      <h2>Hostel Warden</h2>
      <p><strong>Name:</strong> Mr. Vinayak Barawar Sir</p>
      <p><strong>Contact:</strong> 7987025785</p>
    </div>
    <div class="info-box2">
      <h2>Caretaker</h2>
      <p><strong>Name:</strong> Mr. Kamal Prasad Ahirwar Sir</p>
      <p><strong>Contact:</strong> 9630416438</p>
    </div>

    <div class="info-box2">
      <h2>Mess Committee Members</h2>

      <table class="committee-table">
        <tr>
          <th>Name</th>

          <th>Position</th>
          <th>Year</th>
          <th>Contact No.</th>
        </tr>

        <tr>
          <td>Padmakar Mishra</td>
          <td>Hostel Prefect</td>
          <td>Final Year</td>
          <td>9424775432</td>
        </tr>
        <tr>
          <td>Aneesh Kewat</td>

          <td>Mess Secretary</td>
          <td>Final Year</td>
          <td>9479605442</td>
        </tr>
        <tr>
          <td>Ravi Chaturvedi</td>
          <td>Mess Ledger Incharge</td>
          <td>Final Year</td>
          <td>9993721814</td>
        </tr>
        <tr>
          <td>Rishabh Singh</td>
          <td>Mess Manager</td>
          <td>Final Year</td>
          <td>9301241894</td>
        </tr>
        <tr>
          <td>Abhishek Sen</td>
          <td>Mess Manager</td>
          <td>Final Year</td>
          <td>8817044079</td>
        </tr>
        <tr>
          <td>Satyam Singh Baghel</td>
          <td>Asst. Mess Ledger</td>
          <td>3rd Year</td>
          <td>9617439688</td>
        </tr>
      </table>
    </div>
  </section>
</div>
