<div class="info-body">
  <div class="info-head">
    <h1 class="m-1">BMV Boys Hostel Facilities</h1>
  </div>

  <div class="info-box">
    <h2 class="info-h2">Hostel Rooms</h2>
    <p>Total Rooms: <strong>72</strong></p>
    <p>Total Student Capacity: <strong>144</strong></p>
    <p>People per Room: <strong>2 Students</strong></p>
    <p>
      Room Includes: 2 Beds, 2 Tables, 2 Chairs,2 Almirahs, Tube-light & Fan
    </p>
  </div>
  <div class="info-box">
    <h2 class="info-h2">Mess Facilities</h2>
    <p>
      Our hostel provides hygienic and nutritious food prepared by experienced
      staff.
    </p>
    <ul>
      <li>Breakfast, Lunch & Dinner served daily</li>
      <li>Healthy and balanced meals</li>
      <li>Special meals on weekends</li>
      <li>RO Purified drinking water</li>
      <li>Clean and spacious dining hall</li>
    </ul>
  </div>

  <div class="info-box">
    <h2 class="info-h2">Wi-Fi Facilities</h2>
    <p>
      High-speed 24×7 Wi-Fi available for all hostel students for study and
      project work.
    </p>
  </div>

  <div class="info-box">
    <h2 class="info-h2">Gaming & Recreation</h2>
    <p>Indoor Gaming Room with:</p>
    <ul>
      <li>Table Tennis</li>
      <li>Carrom</li>
      <li>Chess</li>
      <li>Video Games</li>
    </ul>
  </div>

  <div class="info-box">
    <h2 class="info-h2">Tuition by Seniors</h2>
    <p>
      Evening tuition/mentoring classes by seniors for juniors for clearing
      doubts and study guidance.
    </p>
  </div>

  <div class="info-box">
    <h2 class="info-h2">Entertainment Room</h2>
    <p>
      Huge entertainment hall with TV and speakers for watching movies & sports.
    </p>
  </div>

  <div class="info-box">
    <h2 class="info-h2">Sports Facilities</h2>
    <ul>
      <li>Volleyball Court</li>
      <li>Cricket Ground</li>
      <li>Badminton Court</li>
      <li>Table Tennis</li>
      <li>Football Ground</li>
    </ul>
  </div>
</div>
