<div class="info-body">
  <h1 class="info-head">Fee Structure</h1>

  <section class="info-container">
    <div class="info-box2">
      <h2>Hostel Fee Structure (Per Academic Year)</h2>

      <ul class="info-ul">
        <li><strong>Total Fees:</strong> ₹6550</li>
        <li>Electricity Charges: <strong>₹6000</strong> (1 academic year)</li>
        <li>Caution Money: <strong>₹550</strong></li>
      </ul>
      <p class="info-note">
        <strong>Note:</strong> Caution money will be returned after completing
        the <strong>No-Dues</strong> process and clearing all hostel and mess
        responsibilities.
      </p>
    </div>

    <div class="info-box2">
      <h2>Mess Bill (Monthly)</h2>

      <ul class="info-ul">
        <li>Mess Charges: <strong>₹2500 – ₹2800</strong> per month</li>
        <li>Amount varies according to meals & expenses of that month.</li>
        <li>Mess bill is issued on every 5th day of the month.</li>
      </ul>

      <p class="info-note">
        <strong>Note:</strong> Students must maintain a
        <strong>minimum positive balance of ₹6000</strong> in their mess
        account.
      </p>
    </div>
  </section>
</div>
