<div class="main-page-image">
  <!-- <div class="card">
    <div class="card-header">
      <h5 class="mt-1 mb-1">IMPORTANT NOTICE !!</h5>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <button>&rarr;&nbsp;&nbsp;Notice 1</button>
        </li>
        <li class="list-group-item">
          <button>&rarr;&nbsp;&nbsp;Notice 2</button>
        </li>
        <li class="list-group-item">
          <button>&rarr;&nbsp;&nbsp;Notice 3</button>
        </li>
      </ul>
    </div>
  </div> -->
</div>
