<div class="info-body">
  <h1 class="info-head">Indira Gandhi Govt. Engineering College</h1>
  <h2 class="info-head p-0">(BMV Boys Hostel)</h2>

  <main class="info-container">
    <section class="info-box">
      <h2>Important Instructions & Rules</h2>
      <ul class="info-ul">
        <li>
          Ragging is completely banned in the Institution/Hostel. If any student
          found involved in ragging will be expelled from the
          Institution/Hostel.
        </li>
        <li>
          College hostel authority will not be responsible in any way if the
          student leaves the hostel after 08:00 pm and anything upward happens
          with him.
        </li>
        <li>
          Outsiders/Relatives/Friends/Parents are not allowed to stay in the
          hostel without the written permission of Principal/Warden/OIC.
        </li>
        <li>
          Use of electric heaters/immersion/Half size tube light/rods or other
          high-wattage heating devices is strictly prohibited inside rooms.
        </li>
        <li>
          Keep hostel premises clean and hygienic at all times. Dispose waste in
          dustbins provided.
        </li>
        <li>Switch off the lights/fans when not in use.</li>
      </ul>
    </section>

    <section class="info-box">
      <h2>AICTE</h2>
      <p>
        Students will be fined suitably if found involved if violation of these
        instructions as per the recommendation of the Warden/OIC and other
        disciplinary action may also be taken.
      </p>
      <p class="info-order">~ By Order Of Principal</p>
    </section>
  </main>
</div>
